.minesweeper-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.minesweeper-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--fg-color);
}

.minesweeper-grid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.minesweeper-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;
  font-size: 1.5em;

  border: 1px solid var(--fg-color);

  width: 2em;
  height: 2em;
}

.minesweeper-cell-uncovered {
  background-color: white;
}

.minesweeper-cell-covered {
  background-color: lightslategray;
}

.minesweeper-cell-flag {
  background-color: lightslategray;
}

.minesweeper-cell-bomb {
  background-color: red;
}

.win-screen {
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color:rgba(0, 255, 0, 0.6);
  text-align:center;
  vertical-align:middle;
}

.lose-screen {
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  background-color:rgba(255, 0, 0, 0.6);
  text-align:center;
  vertical-align:middle;
}