.preview-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  width: 0.5em;
  height: 0.5em;
}

.preview-visible {
  background-color: white;
}

.preview-hidden {
  background-color: lightslategray;
}

.preview-flag {
  background-color: red;
}

.preview-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;
  flex: 0.5;
}

.preview-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-header {
  text-align: center;
  width: 100%;

  background-color: #444;
}

.preview-grid {
  grid-area: 1 / 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--fg-color);
}

.preview-grid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.preview-overlay-container {
  display: grid;
}

.preview-overlay {
  grid-area: 1 / 1;
}

.preview-winner {
  background-color: rgba(0, 255, 0, 0.6);
}

.preview-loser {
  background-color: rgba(255, 0, 0, 0.6);
}
